/* ----------Google Fonts Added---------- */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Azeret Mono", serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  border: 2px solid red;
  font-family: "Azeret Mono", serif;
}

/* ------------------------------Shared Styles Start Here------------------------------ */

/* ----------Text Center---------- */
.text-center {
  text-align: center;
}

/* ------------------------------Shared Styles Ends Here------------------------------ */

/* ----------Nav Bar Styles Added---------- */
nav {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  margin: 36px auto;
}
nav h3 {
  font-size: 28px;
  font-weight: 800;
}

/* ----------Resume Button Styles---------- */
.resume-btn {
  width: 244px;
  height: 57px;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(13, 19, 33);
  border: 1px solid rgb(13, 19, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  opacity: 0.8;
  cursor: pointer;
}

/* ----------Heading/Banner Section Styles Added---------- */
header {
  max-width: 1440px;
  height: 652px;
  border: 1px solid red;
  margin: 0 auto 74px;
  background-image: url(../assets/banner-bg.png);
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner img {
  margin-top: 26px;
}

/* -----Banner Text Styles Added----- */
.banner h1 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 24px;
  line-height: 68px;
  color: rgb(13, 19, 33);
}
.banner p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 26px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}

/* ----------Banner Contact Button Styles Added---------- */
.contact-btn {
  width: 244px;
  height: 65px;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
