/* ----------Google Fonts Added---------- */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Azeret Mono", serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  border: 2px solid red;
  font-family: "Azeret Mono", serif;
}

/* ------------------------------Shared Styles Start Here------------------------------ */

/* ----------Text Center---------- */
.text-center {
  text-align: center;
}

/* ----------h3 Shared Section Title Styles---------- */
.section-title-h3 {
  font-size: 32px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  line-height: 37px;
  margin-bottom: 24px;
}

/* ----------Shared Section Description Styles---------- */
.section-description {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  line-height: 26px;
  margin-bottom: 48px;
  opacity: 0.7;
}

/* ----------h4 Shared Section Title Styles---------- */
.section-title-h4 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
  line-height: 36px;
  margin-bottom: 16px;
}

/* ----------Web Shared Section Description Styles---------- */
.section-description-web {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  line-height: 26px;
  margin-bottom: 32px;
}

/* ------------------------------Shared Styles Ends Here------------------------------ */

/* ----------Nav Bar Styles Added---------- */
nav {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  margin: 36px auto;
}
nav h3 {
  font-size: 28px;
  font-weight: 800;
}

/* ----------Resume Button Styles---------- */
.resume-btn {
  width: 244px;
  height: 57px;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(13, 19, 33);
  border: 1px solid rgb(13, 19, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  opacity: 0.8;
  cursor: pointer;
}

/* ----------Heading/Banner Section Styles Added---------- */
header {
  max-width: 1440px;
  height: 652px;
  border: 1px solid red;
  margin: 0 auto 74px;
  background-image: url(../assets/banner-bg.png);
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner img {
  margin-top: 26px;
}

/* -----Banner Text Styles Added----- */
.banner h1 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 24px;
  line-height: 68px;
  color: rgb(13, 19, 33);
}
.banner p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 26px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}

/* ----------Banner Contact Button Styles Added---------- */
.contact-btn {
  width: 244px;
  height: 65px;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}

/* ----------Why Web Development Section Styles Added---------- */
.why-web-dev-container {
  max-width: 1140px;
  height: 1393px;
  border: 2px solid red;
  margin: 0 auto 90px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.why-web-dev-content {
  padding: 80px 97px;
  display: flex;
  flex-direction: column;
}

/* ----------Section Container Styles Added---------- */
.section-container-1,
.section-container-2 {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 32px;
}

.section-container-3 {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

/* ----------Section Styles Added---------- */
.section-1,
.section-3 {
  display: flex;
  justify-content: space-between;
  padding: 48px;
}

.section-2 {
  display: flex;
  justify-content: space-evenly;
  padding: 48px;
}

/* ----------Learn More Button Styles Added---------- */
.learn-btn {
  width: 171px;
  height: 47px;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
  text-decoration: none;
  color: rgb(13, 19, 33);
  border: 1px solid rgb(13, 19, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  opacity: 0.7;
  cursor: pointer;
}
