/* ----------Google Fonts Added---------- */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Azeret Mono", serif; */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  border: 2px solid red;
  font-family: "Azeret Mono", serif;
}

/* ------------------------------Shared Styles Start Here------------------------------ */

/* ----------Text Center---------- */
.text-center {
  text-align: center;
}

/* ----------h3 Shared Section Title Styles---------- */
.section-title-h3 {
  font-size: 32px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  line-height: 37px;
  margin-bottom: 24px;
}

/* ----------Shared Section Description Styles---------- */
.section-description {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  line-height: 26px;
  margin-bottom: 48px;
  opacity: 0.7;
}

/* ----------h4 Shared Section Title Styles---------- */
.section-title-h4 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
  line-height: 36px;
  margin-bottom: 16px;
}

/* ----------Web Shared Section Description Styles---------- */
.section-description-web {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  line-height: 26px;
  margin-bottom: 32px;
}

/* ------------------------------Shared Styles Ends Here------------------------------ */

/* ----------Nav Bar Styles Added---------- */
nav {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  margin: 36px auto;
}
nav h3 {
  font-size: 28px;
  font-weight: 800;
}

/* ----------Resume Button Styles---------- */
.resume-btn {
  width: 244px;
  height: 57px;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(13, 19, 33);
  border: 1px solid rgb(13, 19, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  opacity: 0.8;
  cursor: pointer;
}

/* ----------Heading/Banner Section Styles Added---------- */
header {
  max-width: 1440px;
  height: 652px;
  border: 1px solid red;
  margin: 0 auto 74px;
  background-image: url(../assets/banner-bg.png);
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner img {
  margin-top: 26px;
}

/* -----Banner Text Styles Added----- */
.banner h1 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 24px;
  line-height: 68px;
  color: rgb(13, 19, 33);
}
.banner p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 26px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}

/* ----------Banner Contact Button Styles Added---------- */
.contact-btn {
  width: 244px;
  height: 65px;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}

/* ----------Why Web Development Section Styles Added---------- */
.why-web-dev-container {
  max-width: 1140px;
  height: 1393px;
  border: 2px solid red;
  margin: 0 auto 90px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.why-web-dev-content {
  padding: 80px 97px;
  display: flex;
  flex-direction: column;
}

/* ----------Section Container Styles Added---------- */
.section-container-1,
.section-container-2 {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 32px;
}

.section-container-3 {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

/* ----------Section Styles Added---------- */
.section-1,
.section-3 {
  display: flex;
  justify-content: space-between;
  padding: 48px;
}

.section-2 {
  display: flex;
  justify-content: space-evenly;
  padding: 48px;
}

/* ----------Learn More Button Styles Added---------- */
.learn-btn {
  width: 171px;
  height: 47px;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 20px;
  text-decoration: none;
  color: rgb(13, 19, 33);
  border: 1px solid rgb(13, 19, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  opacity: 0.7;
  cursor: pointer;
}

/* ----------My Inspiration Section Styles Added---------- */

.inspiration-section {
  width: 1140px;
  height: 775px;
  border: 2px solid red;
  border-radius: 16px;
  margin: 0 auto 151px;
}

.inspiration-video {
  border: 1px solid rgba(13, 19, 33, 0.2);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspiration-video iframe {
  border-radius: 16px;
}

/* --------------My Current Target Section Styles Added----------- */

.current-target-container {
  width: 1140px;
  height: 460px;
  border: 2px solid red;
  border-radius: 16px;
  margin: 0 auto 111px;
}

.current-target-content {
  display: flex;
  justify-content: space-between;
}

/* --------current-1-------- */
.current-target-1 {
  width: 284px;
  height: 219px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.current-target-1 h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  color: rgb(13, 19, 33);
  margin-top: 24px;
  margin-bottom: 8px;
}
.current-target-1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 24px;
}

/* -------current-2--------- */
.current-target-2 {
  width: 284px;
  height: 219px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.current-target-2 h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  color: rgb(13, 19, 33);
  margin-top: 24px;
  margin-bottom: 8px;
}
.current-target-2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 24px;
}

/* -------current-3--------- */
.current-target-3 {
  width: 284px;
  height: 219px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.current-target-3 h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  color: rgb(13, 19, 33);
  margin-top: 24px;
  margin-bottom: 8px;
}
.current-target-3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 24px;
}

/* ----------Secondary Learn More Button Styles Added---------- */
.secondary-learn-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: rgb(13, 19, 33);
  cursor: pointer;
}

/* --------------My Next target Section Styles Added----------- */
.my-next-target-section {
  width: 1140px;
  height: 866px;
  border: 2px solid red;
  border-radius: 16px;
  margin: 0 auto 49px;
}

.my-next-target-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* ---------Next Target Container 1 Styles Added------- */
.next-target-container-1 {
  width: 1140px;
  height: 219px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.next-target-content-1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.next-target-content-1 h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  color: rgb(13, 19, 33);
  margin-bottom: 8px;
}
.next-target-content-1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 24px;
}

/* ---------Next Target Container 2 Styles Added------- */
.next-target-container-2 {
  width: 1140px;
  height: 219px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.next-target-content-2 {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.next-target-content-2 h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  color: rgb(13, 19, 33);
  margin-bottom: 8px;
}
.next-target-content-2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 24px;
}

/* ---------Next Target Container 3 Styles Added------- */
.next-target-container-3 {
  width: 1140px;
  height: 219px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.next-target-content-3 {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.next-target-content-3 h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  color: rgb(13, 19, 33);
  margin-bottom: 8px;
}
.next-target-content-3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 24px;
}

/* ---------------need support section styles------------ */
.support-section {
  width: 1140px;
  height: 313px;
  border: 2px solid red;
  margin: 0 auto 80px;
  border-radius: 16px;
  background-image: linear-gradient(
      0deg,
      rgb(24, 18, 18, 0.5),
      rgba(18, 18, 18, 0.5)
    ),
    url(../assets/handshake.jpg);
  background-position: center;
  background-size: cover;
}

.support-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.support-container h3 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 64px;
  margin-bottom: 16px;
}

.support-container p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
  opacity: 0.7;
}

input[type="text"] {
  width: 548px;
  height: 57px;
  color: rgba(13, 19, 33, 0.4);
  padding: 19px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

button[type="submit"] {
  width: 120px;
  height: 57px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 17px 20px;
  border: none;
  cursor: pointer;
}

/* ----------Footer Section Styles Added---------- */
footer {
  width: 1440px;
  height: 100px;
  border: 2px solid red;
  border-radius: 16px;
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(13, 19, 33, 0.03);
}
.footer-content {
  width: 1140px;
  height: 36px;
  border: 2px solid red;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----Footer Text Styles Added----- */
.footer-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: rgb(13, 19, 33);
}
.footer-social-media a {
  text-decoration: none;
}
